In [1]:
import pandas as pd
import numpy as np

In [3]:
de=pd.read_csv('delivery.csv')

In [5]:
de.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [6]:
de.shape

(1000, 21)

In [8]:
de.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          1000 non-null   int64
 1   inning            1000 non-null   int64
 2   batting_team      1000 non-null   object
 3   bowling_team      1000 non-null   object
 4   over              1000 non-null   int64
 5   ball              1000 non-null   int64
 6   batsman           1000 non-null   object
 7   non_striker       1000 non-null   object
 8   bowler            1000 non-null   object
 9   is_super_over     1000 non-null   int64
 10  wide_runs         1000 non-null   int64
 11  bye_runs          1000 non-null   int64
 12  legbye_runs       1000 non-null   int64
 13  noball_runs       1000 non-null   int64
 14  penalty_runs      1000 non-null   int64
 15  batsman_runs      1000 non-null   int64
 16  extra_runs        1000 non-null   int64
 17  total_runs        1000 non-null   int64
 18  player_dismissed  47 non-null     object
 19  dismissal_kind    47 non-null     object
 20  fielder           33 non-null     object
dtypes: int64(13), object(8)
memory usage: 164.2+ KB

In [10]:
de.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.00000
mean,2.672000,1.445000,9.658000,3.633000,0.0,0.051000,0.009000,0.029000,0.003000,0.0,1.302000,0.092000,1.39400
std,1.239335,0.497214,5.562012,1.823084,0.0,0.310637,0.144706,0.228498,0.054717,0.0,1.725623,0.409516,1.70695
min,1.000000,1.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
25%,2.000000,1.000000,5.000000,2.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
50%,3.000000,1.000000,9.000000,4.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.00000
75%,4.000000,2.000000,14.000000,5.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.00000
max,5.000000,2.000000,20.000000,8.000000,0.0,5.000000,4.000000,4.000000,1.000000,0.0,6.000000,5.000000,6.00000

In [11]:
# top five highest runs scorer 

runs=de.shape

In [13]:
de.groupby('batsman')['batsman_runs'].count()

batsman
A Symonds          11
AA Noffke          12
AC Gilchrist       24
AM Nayar           15
B Akhil             8
BB McCullum        77
CL White           10
D Salunkhe         20
DJ Hussey          12
DJ Thornely         6
DS Lehmann          2
G Gambhir          49
Harbhajan Singh     2
IK Pathan           5
JDP Oram           11
JH Kallis          31
JR Hopes           34
K Goel             20
KC Sangakkara      35
L Ronchi           10
LRPL Taylor        13
M Kaif             19
M Rawat             4
MEK Hussey         54
ML Hayden          17
MS Dhoni            3
MV Boucher         31
Mohammad Hafeez     3
P Kumar            17
PA Patel           11
PR Shah            23
R Dravid           36
RA Jadeja          24
RG Sharma           3
RT Ponting         20
RV Uthappa         38
S Badrinath        14
S Chanderpaul      12
S Dhawan           44
SB Joshi            8
SB Styris           4
SC Ganguly         12
SK Raina           14
SK Trivedi          7
SK Warne           13
SM Katich          17
SM Pollock         12
SR Watson          15
ST Jayasuriya      17
T Kohli            13
V Kohli            20
V Sehwag            4
VVS Laxman          6
W Jaffer           18
Y Venugopal Rao    14
YK Pathan           5
Yuvraj Singh       13
Z Khan              8
Name: batsman_runs, dtype: int64